body {
	margin: 0;
	padding: 0;
}

.cao {
	width: 360px;
	margin: 0 auto;

}

.nobb {
	background: url(img/login-background-1920.3f7pb.jpg);
	width: 1200px;
	text-align: center;
	overflow: hidden;

}

.pmo {
	margin-top: 30px;
}

#wqw {
	width: 150px;
	height: 80px;
}

.ert h2 {
	color: white;
	font-weight: initial;
}

#qqt {
	background: red;
	text-align: center;
	color: white;
	outline: none;
	border: 0px #eee solid;
	width: 360px;
	height: 30px;
	/* padding: 8px;*/
}

.poi {
	color: white;
	text-align: left;

}

.nobb form input {
	width: 360px;
	height: 30px;
	background: rgba(0, 0, 0, 0.5);
	outline: none;
	border: darkgray solid 1px;
	margin-top: 15px;
	color: #A9A9A9;
	padding-left: 10px;
}

.pin {
	width: 372px;
	height: 30px;
	background: rgba(0, 0, 0, 0.5);
	outline: none;
	margin-top: 15px;
	position: relative;

}

.pin span {
	background: #111923;
}

.pin span:before {
	content: '+86';
	color: #A9A9A9;
	margin-right: -10px;
	font-size: 10px;
	float: left;
	margin-left: 18px;
	margin-top: 7px;
	/* position: absolute; */

}

.pom {
	float: left;
	display: block;
	width: 80px;
	height: 29px;
	border: darkgray solid 1px;
	background: #111923;
	position: absolute;
}



.pom img {
	margin-right: -20px;
	margin-top: 4px;

}

#iuy {

	/* background: rgba(0, 0, 0, 0.5); */
	width: 280px;
	height: 27px;
	/* outline: none; */
	float: left;
	margin-top: 0px;
	margin-left: -106px;
	position: absolute;

}
#bua{
	width: 256px;
	height: 27px;
}
#qqe{
	width: 99px;
	height: 31px;
}
.ppx #zxc{
	color: white;
	/* float: left; */
	margin-left: -40px;
}
#qgg{
	margin-left: -256px;
	width: 100px;
}
#ooq{
	background: dodgerblue;
	text-align: center;
	color: white;
	outline: none;
	border: 0px #eee solid;
	width: 361px;
	height: 30px;
	margin-right: -5px;
	
}
#cun{
	text-align: center;
	color: white;
	outline: none;
	border: 0px #eee solid beige;
	width: 360px;
	height: 30px;
	
}
